
body {
  background-color: rgb(251, 251, 251);
  position: relative;
}

header {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 35%;
  border: solid 2px rgba(100, 100, 100, 0.8);
  height: 45px;
  border-radius: .5em;
}

.search::placeholder {
  text-align: left;
  font-style: italic;
  color: rgb(179, 184, 187);
  padding-left: 5px;

}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  z-index: 0;
}


.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.6);
  z-index: 100;

}

.card img {
  border-radius: 50%;
  height: 90px;
}

.hidden {
  display: none;
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  }

  .modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    }

.card {
  align-self: center;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(211, 211, 211);
  border-radius: 1em;
  width: 325px;
  z-index: 1;
  /* min-height: 200px; */
}

.prev {
  position: absolute; 
  bottom: 45%;
  left: 5%;
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: .2em;
  padding: 3px;
  font-size: 1.3em;
}

.next {
  position: absolute; 
  bottom: 45%;
  right: 5%;
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: .2em;
  padding: 3px;
  font-size: 1.3em;
}